* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 232, 202);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: rgb(64, 68, 69);
}

#your-name {
  background-color: burlywood;
  border: 5px dotted #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: darkgoldenrod;
}

#course-image {
  width: 360px;
}

#your-name h2 {
  color: saddlebrown;
}
